//====================================================================================================
.fancybox__container {
	max-width: none !important;
}
h1.mb-5 {display: none;}
.page {

	&__grand {
		position: relative;
	}
}
//=======GRAND=============================================================================================

.grand {

	&__slider {
		
	}

	&__swiper {
	}

	&__slide {
		background: 0 0 / cover no-repeat;
		min-height: 862px;
		@media (max-width:$pc){
			 min-height: 700px; 
		}
		@media (max-width:$tablet){
			min-height: 600px;
		}
		@media (max-width:$mobile){
			 //min-height: 400px; 
		}
	}

	&__image {
		width: 100%;
		//min-height: 862px;
		padding-bottom: percent(862,1920);
		
	}

	&__container {
		//position: absolute;
		//@include adaptiveValue("top", 236, 100,1920,768,1);
		//@include adaptiveValue("left", 360, 100,1400,768,1);
		@include adaptiveValue("margin-top", 236, 190,1920,1170,1);
		@include adaptiveValue("margin-top", 189, 60,1169,320,1);
	}

	&__content {
		position: relative;
		//margin-top: 236px;
		color: white;
		max-width: 936px;
		
		margin-left: 130px;
		@media (max-width:$mobile){
			margin-left: 0;
		}
		
	}

	&__prime-text {
		font-weight: bold;
		line-height: 1.2;
		@include adaptiveValue("font-size", 48, 22,1400,768,1);
		margin-bottom: 34px;
	}

	&__post-text {
		max-width: rem(600);
		@include adaptiveValue("margin-bottom", 118,30, 1920,768,1);
		line-height: 1.3;
	}

	&__control {
		pointer-events: none;
		position: absolute;
		display: flex;
    justify-content: space-between;
    padding: 0 180px;
		z-index: 1;
		top: 50%;
		width: 100%;
		transform: translateY(-50%);
		@media (max-width: em(1600)){
			  padding: 0px 140px;
		}
		@media (max-width:$pc){
			 padding: 0px 50px; 
		}
		@media (max-width:$tablet){
			padding: 0px 20px;
			top: initial;
			bottom: 0%;
			justify-content: center;
			gap: 20px;
		}
	}

	&__arrow {
		cursor: pointer;
		pointer-events: auto;
	}

	&__button {
		color: #333;
		@media (max-width:$mobile){
			 font-size: 14px;
			 padding: 18px 0px; 
		}
	}
}
.button {
	//margin-bottom: 175px;
	//@include adaptiveValue("margin-bottom", 175,30, 1920,768,1);
}
.arrow-left {
}
.arrow-right {
	transform: rotate(180deg);
}

/*===========GALERY==============*/

.page {

	&__galery {
		position:relative;
		//background:#b9b9b9;
		@include adaptiveValue("margin-top", 76, 35,1920,768,1);
	}
}
.galery {

	&__container {
		@media (max-width:$mobile){
			 padding: 0; 
		}
	}

	&__title {
		display: block;
		margin-bottom: 62px;
		@media (max-width:$tablet){
			margin-bottom: 40px;
		}
		@media (max-width:$mobile){
			 margin-bottom: 20px;
			 padding-left: 15px;
		}
	}

	&__wrapper {
		position: relative;
	}

	&__slider {
		//position: relative;
	}

	&__swiper {
	}

	&__slide {
		img {
			width: 100%;
			height: auto;
		}
	}

	&__control {
		pointer-events: none;
		display: flex;
		position: absolute;
		justify-content: space-between;
		width: 110%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		@media (max-width:em(1570)){
			position: relative;
			width: 15%;
			transform:translateX(-50%);
			margin-top: 15px;
			//top: 90%;
		}
	}
}

.arrow-g-left {
}
.arrow-g-right {
	transform: rotate(180deg);
}

/*==========VIDEO=========*/

.page {

	&__video {
		margin-top: 100px;
		@media (max-width:$tablet){
			margin-top: 70px;
		}
		@media (max-width:$mobile){
			 margin-top: 35px; 
		}
	}
}
.video {

	&__container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 35px;
		row-gap: 47px;
		@media (max-width:$mobile){
			 grid-template-columns: 1fr;
			 //grid-auto-flow: row;
			 row-gap: 20px;
		}
	}

	&__play {
		img {
			width: 100%;
			height: auto;
		}
		@media (max-width:$tablet){
			align-self: center;
		}
		@media (max-width:$mobile){
			 margin: 0px -15px; 
		}
	}

	&__link {
	}

	&__content {
	}

	&__button {
		grid-column: span 2;
		margin: 0 auto;
		margin-bottom: 85px;
		@media (max-width:$mobile){
			 grid-column: span 1;
			 margin-bottom: 40px;
		}
	}
}
.content-video {

	&__title {
	}

	&__text {
		margin-top: 34px;
		margin-bottom: 15px;
		line-height: 26px;
		span {
			color: $maingreen;
			font-weight: 700;
		}
		@media (max-width:$mobile){
			 font-size: rem(16); 
		}
	}

	&__trade {
		color: $maingreen;
	}

	&__item {
		display: block;
		font-weight: 700;
		font-size: rem(20);
		@media (max-width:$mobile){
			 font-size: 18px; 
		}
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}
}

/*==========WHY===========*/

.page {

		&__why {
			background: 0 0 / cover no-repeat;
			padding-top: 81px;
			padding-bottom: 90px;
			@media (max-width:$mobile){
				 padding-top: 31px;
				 padding-bottom: 40px; 
			}
		}
}
.why {

		&__content {
		}

		&__title {
			text-align: center;
			font-weight: 600;
			@include adaptiveValue("font-size", 48, 30,1400,768,1);
			line-height: 1.3;
			color: white;
			margin-bottom: 24px;
		}

		&__link {
			padding: 0px 5px;
			margin-bottom: 24px;
			text-align: center;
			display: block;
			color: white;
			font-weight: 700;
			@include adaptiveValue("font-size", 80, 35,1400,768,1);
		}

		&__button {
			margin: 0 auto;
		}
}

/*==============OTZV============*/

.page {

	&__otzv {
		@include adaptiveValue("margin-top", 76, 35,1920,768,1);
	}
}
.otzv {

	&__title {
		display: block;
		margin-bottom: 62px;
		@media (max-width:$tablet){
			margin-bottom: 40px;
		}
		@media (max-width:$mobile){
			 margin-bottom: 20px; 
		}
	}

	&__wrapper {
		position: relative;
	}

	&__slider {
	}

	&__swiper {
	}

	&__slide {
		img {
			width: 100%;
			height: auto;
		}
	}

	&__control {
		pointer-events: none;
		display: flex;
		position: absolute;
		justify-content: space-between;
		width: 110%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		@media (max-width:em(1570)){
			position: relative;
			width: 15%;
			transform:translateX(-50%);
			margin-top: 15px;
			//top: 90%;
		}
	}

	&__button {
		margin: 0 auto;
		margin-top: 46px;
		@media (max-width:$mobile){
			 margin-top: 26px; 
		}
	}
}
.arrow-o-right{
	transform:rotate(180deg)
}

/*============ADVANTAGES==============*/

.page {

	&__advantages {
		margin-top: 100px;
		@media (max-width:$tablet){
			margin-top: 70px;
		}
		@media (max-width:$mobile){
			 margin-top: 35px; 
		}
	}
}
.advantages {

	&__container {
	}

	&__wrapper {
	}

	&__title {
		display: block;
		margin-bottom: 62px;
		@media (max-width:$tablet){
			margin-bottom: 40px;
		}
		@media (max-width:$mobile){
			 margin-bottom: 20px; 
		}
	}

	&__list {
		display: flex;
		align-items: flex-start;
		justify-content: center;
		flex-wrap: wrap;
		gap: 65px 121px;
		margin-bottom: 96px;
		@media (max-width:$tablet){
			margin-bottom: 50px;
		}
		@media (max-width:$mobile){
			 margin-bottom: 20px; 
		}
	}

	&__item {
		flex: 0 0 18.5%;
		@media (max-width:$tablet){
			flex: 0 0 20%;
		}
		@media (max-width:$mobile){
			 flex: 0 0 32%; 
		}
		@media (max-width:$mobileSmall){
			 flex: 0 0 100%; 
		}
	}
}

.advatages {

	&__images {
		img {
			width: 100%;
			height: auto;
		}
	}

	&__text {
		margin-top: 10px;
		display: block;
		text-align: center;
		font-weight: 500;
		line-height: 1.2;
		margin: 0px -30px;
		@media (max-width:$mobileSmall){
			 margin: 0px 0px; 
		}
	}
}

/*============BUY===========*/

.page {

	&__buy {
		min-height: 717px;
		background: 0 0 / cover no-repeat;
		position: relative;
		@media (max-width:$tablet){
			min-height: 600px;
		}
		.popup__content {
			//display: inline-block;
			transform: translate(60%, 24%);
			max-width: 614px;
		visibility: initial;
		position: relative;
		z-index: 2;
		transition: initial;
		width: initial;
		@media (max-width: em(1350)){
			transform: translate(10%, 24%);
		}
		@media (max-width:$tablet){
			transform: initial;
			margin: 0 auto;
			margin-top: 0px;
		}
		}
	}
}
.buy {

	&__container {
		max-width: 1920px;
		position: relative;
		@media (max-width:$tablet){
			padding-top: 50px;
		}
	}

	&__bg {
		position: absolute;
		width: percent(934,1920);
		width: 934px;
		height: percent(615,717);
		right: 0;
		bottom: 0;
		z-index: 2;
		@media (max-width: em(1600)){
			//width: 350px;
			//aspect-ratio: 1.52/1;
			transform: translate(25%, 0%);
		}
		@media (max-width: em(1200)){
			transform: translate(35%, 0%);
		}
		@media (max-width:$tablet){
			display: none;
		}
	}
}

/*============MAP==========*/

.page {

	&__map {
	}
}
.map {

	&__wrapper {
		img {
			width: 100%;
		}
	}
}










